.icon(@size) {
    width: auto;
    max-width: @size;
    height: auto;
    max-height: @size;
}

.icon-fixed(@size) {
    width: @size;
    height: @size;
}

.icon-16() {
    .icon(16px);
}

.icon-16-fixed() {
    .icon-fixed(16px);
}

.transition(@property, @time, @anim: ease-in-out) {
    -ms-transition: @property @time @anim;
    -moz-transition: @property @time @anim;
    -o-transition: @property @time @anim;
    -webkit-transition: @property @time @anim;
    transition: @property @time @anim;
}

.fade-opacity(@time, @opacity: 0) {
    opacity: @opacity;
    .transition(opacity, @time, ease-in-out);
}


.weapon-fire {
    &.firing {
        opacity: 1;
    }

    &.not-firing {
        .fade-opacity(.3s);
    }
}

.buy-zone {

    &.in-zone {
        color: #00AA00;

        &.can-buy {
            .cant-buy-indicator {
                opacity: 0;
            }
        }

        &.cant-buy {
        }
    }

    &.out-zone {
        color: #DEDEDE;

        .cant-buy-indicator {
            opacity: 0;
        }
    }
}

.bomb-zone {
    &.in-zone {
        opacity: .5;
    }

    &.out-zone {
        .fade-opacity(.2s);
    }
}

.server {
    .bomb {
        opacity: 0;

        &.planted {
            opacity: 1;

            &.ticking {
                color: #FF0000;
            }

            &.not-ticking {
                color: #000000;
                .transition(color, 0.5s, ease-in-out);
            }
        }

        &.exploded {
            color: #FF0000;
        }

        &.defused {
            color: #00FF00;
        }
    }
}

.player {
    .dead {
        text-decoration: line-through;
    }

    .blinded {
        opacity: 1;
    }

    .not-blinded {
        opacity: 0;
        .transition(opacity, 1s, linear);
    }

    &.team-t {
        background-color: #ffDDDD;
    }

    &.team-ct {
        background-color: #DDDDFF;
    }

    &.team-spec {
        background-color: #DDDDDD;
    }

    .bomb {
        &.has-bomb {
            opacity: 1;
        }

        &.not-has-bomb {
            opacity: 0;
            .transition(opacity, .2s, ease-in-out);
        }
    }
}
